<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="MainWindowWidth" value="800"/>
    <add key="MainWindowHeight" value="600"/>
  </appSettings>
</configuration>